.news-detail-container-content{
    margin-top: 90px;
}

.about-main-container-news{
    margin-top: 120px;
    margin-bottom: 120px;
}

.about-heading{
    font-size: 13px;
    font-weight: 500;
}

.about-subheading{
    font-size: 17px;
    font-weight: 500;
}

.about-body-text{
    font-size: 14px;
    font-weight: 300;
}

.images-wrapper{
    object-fit:cover;
    width: 100%;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.container-wrapper-bg-2{
    height: 397px;
    gap: 10px;
    display: flex;
}