.text-subtitle{
    font-size: 13px;
    font-weight: 500;
}

.text-title{
    font-size: 53px;
    font-weight: 400;
}

.line-title{
    width: 182px;
    height: 1px;
    background-color: #FE5C36;
}

.font-product-title{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.container-text-product{
    width: 80%;
}

.font-product-body{
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}